html, body{
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	background-color: #fcfcfc;
}

header{
	border-top: 2px solid #f4645f;
	border-bottom: 1px solid #efefef;
	background-color: #FFF;
	box-sizing: border-box;
	padding: 12px 0;
	color: #666;
}

.text-bold{
	font-weight: 500;
}

.main-body{
	margin-top: 20px;
	font-size: 0.9em;
}

.card{
	box-shadow: none;
	border: 1px solid #efefef;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 10px;
}

.card-alt{
	border: none;
	background-color: transparent;
}

.account-column-img{
	height: 100px;
	width: 100px;
	background-color: #fafafa;
	border-radius: 100px;
	display: block;
	margin: 10px auto;
}

.account-column-title{
	text-transform: capitalize;
	color: #444;
}

.user-column-title{
	margin-bottom: 12px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	color: #444;
}

.user-column-name{
	font-size: 14px;
}

/* Online status column */

.online-status{
    background-color: #9CCC65;
    height: 7px;
    width: 7px;
    float: left;
    border-radius: 100px;
    margin-right: 7px;
    margin-top: 8px;
}